/* line 5, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.dataTables_wrapper .dataTables_filter input {
  display: block;
  width: 110%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

/* line 26, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.dataTables_wrapper .dataTables_filter {
  float: right;
  margin-right: 30px;
  text-align: center; }

/* line 32, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.btn-lg {
  float: right;
  color: white; }

/* line 36, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.link {
  color: #337ab7;
  text-decoration: none; }

/* line 40, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.dashboard a {
  color: white;
  text-decoration: none; }

/* line 50, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8); }

/* line 56, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp .help-block {
  font-size: 12px; }

/* line 59, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px; }

/* line 65, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp .social-buttons {
  margin: 12px 0; }

/* line 68, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp .social-buttons a {
  width: 49%; }

/* line 71, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
#login-dp .form-group {
  margin-bottom: 10px; }

/* line 74, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.btn-fb {
  color: #fff;
  background-color: #3b5998; }

/* line 78, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc; }

/* line 82, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.btn-tw {
  color: #fff;
  background-color: #55acee; }

/* line 86, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa; }

@media (max-width: 768px) {
  /* line 91, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
  #login-dp {
    background-color: inherit;
    color: #fff; }
  /* line 95, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none; } }

/* line 101, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.fa.fa-music {
  background: #fff;
  color: #337AB7;
  padding: 12px;
  font-size: larger; }

/* line 107, /home/ninja/Desktop/playlist/app/assets/stylesheets/songs.scss */
.fa-user {
  letter-spacing: 15px;
  color: #337AB7; }

/*# sourceMappingURL=songs.css.map */